:root {
  --gapformsAtualizarAtivo: 20px;
  --divisaoCampoForms1: 55%;
  --divisaoCampoForms2: calc(100% - var(--divisaoCampoForms1));
}


.formsAtualizarAtivo,
.formsAtualizarAtivo>div,
.divisaoFormsEditar2,
.divisaoFormsEditar2>div,
.divisaoFormsEditar2>div:first-child>div,
.formsAtualizarAtivo>div:last-child>div,
.formsAtualizarAtivo>div:last-child>div>div {
  display: flex;
  width: 100%;
  gap: 8px;
}

.divisaoFormsEditar2>div:first-child>div,
.divisaoFormsEditar3>div,
.divisaoFormsEditar4>div:first-child {
  justify-content: space-between;
}

.formsAtualizarAtivo>div,
.divisaoFormsEditar2,
.divisaoFormsEditar2>div:first-child>div,
.formsAtualizarAtivo>div:last-child>div>div {
  flex-direction: column;
}

.formsAtualizarAtivo>div:first-child {
  flex: var(--divisaoCampoForms1);
}

.formsAtualizarAtivo>div:last-child {
  flex: var(--divisaoCampoForms2);
}

.atualizarAtivo {
  padding: 10px;
}

.atualizarAtivo>h1 {
  padding-bottom: 20px;
}


.formsAtualizarAtivo>div>div {
  flex: 1;
}


.formsAtualizarAtivo>div:first-child {
  flex: var(--divisaoCampoForms1)
}

.formsAtualizarAtivo>div:last-child {
  flex: var(--divisaoCampoForms2);
}

.atualizarAtivo {
  width: 100%;
  height: calc(100vh - var(--heightHeader));
}

.formsAtualizarAtivo {
  height: calc(100% - 50px);
}

.tituloFormsAtualizarAtivo {
  height: 50px;
}

.divisaoFormsEditar1 {
  max-height: 70px;
  background-color: var(--cor8);
}

.divisaoFormsEditar2>div:last-child,
.divisaoFormsEditar3 {
  flex: 1;
}

.divisaoFormsEditar2>div:first-child,
.divisaoFormsEditar4 {
  flex: 2;
}

.divisaoFormsEditar1,
.divisaoFormsEditar2,
.divisaoFormsEditar3,
.divisaoFormsEditar4>div:first-child {
  background-color: var(--cor8);
  padding: 10px;
  border-radius: 5px;
}

.divisaoFormsEditar1>input {
  width: 100%;
  background: inherit;
  color: var(--branco1);
  font-size: 30px;
}

.botoesFormsEditar {
  justify-content: space-around;
  gap: 5px;
  padding: 15px;
}

.botoesFormsEditar>* {
  text-align: center;
  color: var(--branco1);
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
}

.botoesFormsEditar>*:first-child,
.botoesFormsEditar>*:nth-child(2) {
  background-color: var(--cor12);
}


.botoesFormsEditar>*:last-child {
  background-color: var(--cor5);
}