:root {
  --gapformsAtualizarAtivo: 20px;
  --divisaoCampoForms1: 55%;
  --divisaoCampoForms2: calc(100% - var(--divisaoCampoForms1) - var(--gapformsAtualizarAtivo));
}

.atualizarAtivo {
  min-height: calc(100vh - var(--heightHeader) - var(--gapformsAtualizarAtivo));
  padding: var(--gapformsAtualizarAtivo);
}

.formsAtualizarAtivo,
.formsAtualizarAtivo>div {
  height: 100%;
  width: 100%;
}

.formsAtualizarAtivo>div {
  flex: 1;
}


.tituloFormsAtualizarAtivo *,
.divisaoFormsEditar1 * {
  font-size: 25px;
}

.atualizarAtivo,
.tituloFormsAtualizarAtivo,
.formsAtualizarAtivo,
.formsAtualizarAtivo>div,
.divisaoFormsEditar2>div,
.divisaoFormsEditar2>div:first-child>div,
.divisaoFormsEditar3,
.divisaoFormsEditar3>div,
.divisaoFormsEditar4,
.divisaoFormsEditar4>div {
  display: flex;
  gap: var(--gapformsAtualizarAtivo);
}

.tituloFormsAtualizarAtivo {
  align-items: top;
  height: min-content;
  gap: 0;
}

.atualizarAtivo,
.formsAtualizarAtivo>div,
.divisaoFormsEditar2>div:first-child>div,
.divisaoFormsEditar3>div,
.divisaoFormsEditar4>div {
  flex-direction: column;
}

.divisaoFormsEditar1,
.divisaoFormsEditar2,
.divisaoFormsEditar3,
.divisaoFormsEditar4>div:first-child {
  background-color: var(--cor8);
  border-radius: 5px;
  padding: 10px;
}

.divisaoFormsEditar2>div:last-child {
  padding-top: var(--gapformsAtualizarAtivo);
}

.divisaoFormsEditar2 {
  height: 100%;
}

.divisaoFormsEditar4>div:first-child {
  width: 60%;
}

.divisaoFormsEditar4 {
  flex: 2;
}

.formsAtualizarAtivo,
.divisaoFormsEditar2>div,
.divisaoFormsEditar4,
.divisaoFormsEditar4>div:first-child {
  justify-content: space-between;
}

.divisaoFormsEditar3,
.divisaoFormsEditar3>div,
.divisaoFormsEditar4>div:last-child {
  justify-content: space-around;
}

.formsAtualizarAtivo,
.tituloFormsAtualizarAtivo,
.divisaoFormsEditar2>div:first-child,
.divisaoFormsEditar3,
.divisaoFormsEditar4{
  flex-wrap: wrap;
}
.formsAtualizarAtivo>div{
  min-width: calc(150px + 18vw);
}
.divisaoFormsEditar2>div:first-child{
  min-width: calc(150px + 7vw);
}
.divisaoFormsEditar2>div,
.divisaoFormsEditar2>div:first-child>div{
  margin: auto;
}

.botoesFormsEditar>* {
  text-align: center;
  color: var(--branco1);
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
}

.botoesFormsEditar>*:first-child,
.botoesFormsEditar>*:nth-child(2) {
  background-color: var(--cor12);
}


.botoesFormsEditar>*:last-child {
  background-color: var(--cor5);
}

@media (max-width: 780px){
  .divisaoFormsEditar2{
    height: max-content;
  }
  .formsAtualizarAtivo>div{
    height: max-content;
  }
  .divisaoFormsEditar4>div{
    margin: auto;
  }
}