:root {
    /* Div Forms */
    --minWidthDivFormsAtivo: calc(100vw - var(--paddingDivFormsAtivo));
    --minHeightDivFormsAtivo: calc(100vh - var(--paddingTopDivFormsAtivo));
    --paddingLeftDivFormsAtivo: 40px;
    --paddingTopDivFormsAtivo: 40px;

    /* Forms */
    --widthFormsAtivo: calc(95% - 2 * var(--paddingHorizontalFormsAtivo));
    --heightFormsAtivo: calc(80% - 2 * var(--paddingVerticalFormsAtivo));
    --paddingHorizontalFormsAtivo: 40px;
    --paddingVerticalFormsAtivo: 40px;

    /* COLUNA */
    --witdhColunaFormsAtivo: calc(100% - 2 * var(--paddingColunaFormsAtivo));
    --paddingColunaFormsAtivo: 20px;

    /* Botão Forms */
    --fontSizeBotaoForms: 20px;

    /* Descrição Forms */
    --paddingVerticalDescricaoForms: 5px;
    --paddingHorizontalDescricaoForms: 10px;
    --widthDescricaoForms: calc(100% - 2 * var(--paddingHorizontalDescricaoForms))
}

/*
===================
= Base Formulário = 
===================
*/
.divFormsAtivo {
    background-color: var(--cor7);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    height: var(--minHeightDivFormsAtivo);
    padding-left: var(--paddingLeftDivFormsAtivo);
    padding-top: var(--paddingTopDivFormsAtivo);
    min-width: var(--minWidthDivFormsAtivo);
}

.colunaFormsAtivo {
    display: flex;
    flex-wrap: wrap;
    width: var(--witdhColunaFormsAtivo);
    padding: 0 var(--paddingColunaFormsAtivo);
    justify-content: space-between;
}

.colunaFormsAtivo>* {
    flex: 1;
}

/*
=====================
= Título Formulário = 
=====================
*/
.divFormsAtivo>div:first-child {
    align-items: center;
}

.divFormsAtivo>form {
    margin: auto;
    background-color: var(--cor8);
    display: flex;
    flex-direction: column;
    width: var(--widthFormsAtivo);
    height: var(--heightFormsAtivo);
}

.divFormsAtivo>form>* {
    margin-top: auto;
    gap: 10px;
    margin-bottom: auto;
}



/* 
=========================
= Descrições Formulário =
==========================
*/

.descricaoFormsAtivo>textarea {
    padding: var(--paddingVerticalDescricaoForms) var(--paddingHorizontalDescricaoForms);
    width: var(--widthDescricaoForms);
    height: 150px;
    resize: none;
}

/* 
=====================
= Botões Formumário =
=====================
*/

.divBotaoForms {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: auto;
    width: 100%;
}

.divBotaoForms>button {
    background-color: inherit;
    border: 0;
    color: var(--branco);
    padding: 10px;
    border-radius: 15px;
    font-size: var(--fontSizeBotaoForms);
}

.divBotaoForms>button:hover {
    background-color: var(--cor9);
}

.botaoVoltarForms {
    left: 0;
}

.botaoProximoForms {
    right: 0;
}