:root {
    /* TÍtulo */
    --heightTitulo: 10vh;
    --fontSizeTituloFormsAtivo: 20px;
    --paddingTituloFormulario: 50px;

    /* Formulário */
    --heightFormulario: calc(100% - var(var(--heightTitulo)));
    --gapColumaFormsCadastroAtivo: 5px;
    --paddingBlocosAtivos: 5px;
    --widthMinimoColunasFormulario: 574.5px;
    --gapC1L2Formulario: 25px;
    --fontSizeNomeAtivo: 25px;
    --heightNomeAtivo: 50px;
}

/* 
================
= Estilo geral =
================
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--azul1);
}


/*
=======================
= Div base formulário =
=======================
*/

.DivCadastroAtivosTangiveis {
    margin: 0 var(--marginDivCadastro);
    width: calc(100vw - var(--marginDivCadastro) * 2);
    height: 100vh;
    color: var(--branco);

}

/*
========================
= Título do formulário =
========================
*/

.DivCadastroAtivosTangiveis>div {
    align-items: center;
    display: flex;
    font-size: var(--fontSizeTituloFormsAtivo);
    height: var(--heightTitulo);
    padding-left: var(--paddingTituloFormulario);
    min-width: max-content;
    width: calc(100% - var(--paddingTituloFormulario) * 2);
}


/* 
=================
= Input do nome =
=================
*/

.NomeFormsAtivo {
    height: var(--heightNomeAtivo);
    display: flex;
}

.NomeFormsAtivo>* {
    font-size: var(--fontSizeNomeAtivo);
    margin: auto;
    width: max-content;
}

.NomeFormsAtivo>p:hover {
    color: var(--azul1);
    cursor: pointer;
}

.NomeFormsAtivo>input::placeholder,
.NomeFormsAtivo>input {
    background-color: var(--azul1);
    color: var(--branco);
    display: flex;
    text-align: center;
}

/*
==============
= Formulário =
==============
*/

.FormsCadastroAtivosTangiveis {
    display: flex;
    min-height: var(--heightFormulario);
}

.FormsCadastroAtivosTangiveis>div,
.FormsCadastroAtivosTangiveis>div:last-child>div:first-child,
.FormsCadastroAtivosTangiveis>div>div:last-child {
    display: flex;
    flex-direction: column;
}

.FormsCadastroAtivosTangiveis,
.FormsCadastroAtivosTangiveis>div {
    gap: var(--gapColumaFormsCadastroAtivo);
    flex-wrap: wrap;
}

.FormsCadastroAtivosTangiveis>div {
    flex: 1;
    min-width: var(--widthMinimoColunasFormulario);
    width: 100%;
}

.FormsCadastroAtivosTangiveis>div>div {
    width: calc(100% - var(--paddingBlocosAtivos) * 2);
    padding: 0 var(--paddingBlocosAtivos);
}

.FormsCadastroAtivosTangiveis>div:first-child>div:first-child,
.FormsCadastroAtivosTangiveis>div:last-child>div {
    background-color: var(--azul2);
}

.FormsCadastroAtivosTangiveis>div:first-child>div:last-child {
    display: flex;
    flex-direction: column;
    gap: var(--gapC1L2Formulario);
}

.FormsCadastroAtivosTangiveis>div:last-child>div:first-child {
    flex: 1;
}

.FormsCadastroAtivosTangiveis>div:last-child>div:last-child {
    flex: 1.5;
}


.FormsCadastroAtivosTangiveis>div:last-child>div>* {
    margin-top: auto;
}

.FormsCadastroAtivosTangiveis>div:last-child>div>*:last-child {
    margin-bottom: auto;
}


/* 
=========
= Cores =
=========
*/

.Azul1 .DescriçõesCampoAtivo>input,
.Azul1 .containerCheckboxFormsAtivos>input:checked~span,
.Azul1 .DescriçõesCampoAtivo>select>option:hover,
.Azul2 .DescriçõesCampoAtivo>select>option {
    background-color: var(--azul1);
}

.Azul1 .containerCheckboxFormsAtivos>span,
.Azul1 .DescriçõesCampoAtivo>select {
    border-color: var(--azul1);
}

.Azul2 .DescriçõesCampoAtivo>input,
.Azul2 .containerCheckboxFormsAtivos>input:checked~span,
.Azul2 .DescriçõesCampoAtivo>select>option:hover,
.Azul1 .DescriçõesCampoAtivo>select>option {
    background-color: var(--azul2);
}

.Azul2 .containerCheckboxFormsAtivos>span,
.Azul2 .DescriçõesCampoAtivo>select  {
    border-color: var(--azul2);
}

/*
===================
= Botão Cadastrar =
===================
*/

.BotaoCadastrarAtivo {
    background-color: var(--roxo);
    color: var(--branco);
    width: min-content;
    padding: 10px 50px;
    font-size: large;
    margin: auto;
}