:root {
    /* Div Forms */
    --minWidthDivFormsAtivo: calc(100vw - var(--paddingDivFormsAtivo));
    --HeightDivFormsAtivo: calc(97vh - var(--heightHeader));
    --paddingLeftDivFormsAtivo: 40px;
    --paddingTopDivFormsAtivo: 40px;

    /* Forms */
    --widthFormsAtivo: 97%;
    --heightFormsAtivo: 80%;
    --paddingHorizontalFormsAtivo: 40px;
    --paddingVerticalFormsAtivo: 40px;

    /* COLUNA */
    --paddingColunaFormsAtivo: 20px;

    /* Botões Forms */
    --fontSizeBotaoForms: 20px;
    --paddingBotaoForms: 10px;
    --borderRadiusBotaoForms: 15px;
    --fontSizeBotaoCadastrarForms:35px;
    --paddingBotaoCadastrarForms: 10px 50px;
    --borderRadiusCadastrarBotaoForms: 5px;

    /* Descrição Forms */
    --paddingVerticalDescricaoForms: 5px;
    --paddingHorizontalDescricaoForms: 10px;
    --heigthDescricaoForms: 150px;

}

/*
===================
= Base Formulário = 
===================
*/
.divFormsAtivo {
    display: flex;
    flex-direction: column;
    min-height: var(--HeightDivFormsAtivo);
    padding-top: 2%;
    padding-left: 2%;
    min-width: var(--minWidthDivFormsAtivo);
}

.divFormsAtivo h1 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 4vh;
    font-family: Arial, sans-serif;
    color: var(--branco);
    text-align: left;
  }


.colunaFormsAtivo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 var(--paddingColunaFormsAtivo);
    justify-content: space-between;
}

.colunaFormsAtivo>* {
    flex: 1;
}

/*
=====================
= Título Formulário = 
=====================
*/
.divFormsAtivo>div:first-child {
    align-items: center;
}

.divFormsAtivo>form {
    border-radius: 10px;
    margin: auto;
    background-color: var(--cor8);
    display: flex;
    flex-direction: column;
    width: var(--widthFormsAtivo);
    min-height: var(--heightFormsAtivo);
    height: 100%;
}

.divFormsAtivo>form>* {
    margin-top: auto;
    gap: 10px;
    margin-bottom: 1%;
}

.selectImportanciaAtivo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 25px;
}

.selectImportanciaAtivo>select {
    height: 38px;
    background-color: var(--branco1);
}
/* 
=========================
= Descrições Formulário =
==========================
*/

.descricaoFormsAtivo>textarea {
    padding: var(--paddingVerticalDescricaoForms) var(--paddingHorizontalDescricaoForms);
    width: 100%;
    height: var(--heigthDescricaoForms);
    resize: none;
}

/* 
=====================
= Botões Formumário =
=====================
*/

.divBotaoForms {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: auto;
    width: 100%;
}

.divBotaoForms>button {
    cursor: pointer;
    background-color: inherit;
    border: 0;
    color: var(--branco);
    padding: var(--paddingBotaoForms);
    border-radius: var(--borderRadiusBotaoForms);
    font-size: var(--fontSizeBotaoForms);
}

.divBotaoForms>button:hover {
    background-color: var(--cor9);
}

.botaoVoltarForms {
    left: 0;
}

.botaoProximoForms {
    right: 0;
}

/*
===================
= Botão Cadastrar =
===================
*/

.BotaoCadastrarAtivo {
    cursor: pointer;
    background-color: var(--cor5);
    color: var(--branco);
    width: min-content;
    padding: var(--paddingBotaoCadastrarForms);
    font-size: var(--fontSizeBotaoCadastrarForms);
    margin: auto;
    border-radius: var(--borderRadiusCadastrarBotaoForms);
}