.cadastroUsuário form {
  margin: 20px;
}

/* personalização especifica da página */

.cadastroUsuário #primeira-parte {
  margin: 10px;
  background-color: var(--cor8);
  border-radius: 4px;
}

.cadastroUsuário h2 {
  padding-top: 2%;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 4vh;
  font-family: Arial, sans-serif;
  color: var(--branco);
  text-align: left;
  padding-left: 2%;
}

.cadastroUsuário .primeira-parte {
  background-color: var(--cor8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px #0000001a;
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.primeira-parte>div {
  display: flex;
  gap: 10px;
}

.primeira-parte>div>div {
  display: flex;
  width: 50%;
  flex-direction: column;

  gap: 10px;
  flex: 1
}

.primeira-parte>div>div:last-child {
  align-items: center;
  justify-content: space-between;
}
.primeira-parte>div>div:last-child>div:first-child{
  min-height: 70%;
}

.cadastroUsuário .primeira-parte input[type="submit"] {
  padding: 10px 20px;
  background-color: var(--cor5);
  color: var(--branco);
  border: none;
  width: auto;
  border-radius: 5px;
  font-size: 3vh;
  cursor: pointer;
}

.cadastroUsuário .primeira-parte input[type="submit"] {
  display: block;
  margin: 20px auto 0;
}

.cadastroUsuário .primeira-parte input[type="submit"]:hover {
  background-color: var(--cor20);
}

.cadastroUsuário .primeira-parte .checkbox-container {
  display: flex;
  align-items: left;
  margin-bottom: 10px;
}