.accordion {
    padding: 20px;
}


.TituloManual h1 {
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
    margin-top: 5px;
    font-size: 4vh;
    font-family: Arial, sans-serif;
    color: var(--branco);
    text-align: left;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-item .accordion-title {
    background-color: var(--cor8);
    color: var(--branco);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.accordion-item .accordion-title:hover {
    background-color: var(--cor20);
}

.accordion-item .accordion-title.active {
    background-color: var(--cor23);
}

.accordion-content {
    padding: 10px;
    border: 1px solid var(--branco);
    border-radius: 5px;
    margin-bottom: 10px;
    color: var(--cor24);
}


.search-bar {
    width: calc(100% - 20px); 
    padding: 10px; 
    margin: 10px; 
    border-radius: 20px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    font-size: 16px; 
    outline: none; 
    background-color: var(--cor20); 
    color: var(--branco); 
}

.search-bar {
    display: block;
    margin: 0 auto;
}

.accordion-content img,
.accordion-content iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.accordion-content a {
    color: var(--cor2);
    text-decoration: none;
  }

  .accordion-content p {
    margin-bottom: 10px;
  }
  