:root {
    --fontSizeTituloCampoPadrao: 15px;
    --fontSizeInputCampoPadrao: 13px;
    --minHeightDivCampoPadrao: 30px;
    --gapInputTitulo: 30px;
}

.divCampoPadrao {
    min-height: var(--minHeightDivCampoPadrao);
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--branco1);
}

.divCampoPadrao>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.divCampoPadrao input,
.divCampoPadrao select {
    width: 100%;
    border-radius: 6px;
    padding: 4px;
    border-style: solid;
    border-width: 1.8px;
    background-color: var(--cor20);
    color: var(--branco1);
}

.divCampoPadrao input[type="date"],
.divCampoPadrao input::placeholder {
    color: var(--branco1);
}

.erroCampo {
    color: red;
    font-size: var(--fontSizeInputCampoPadrao);
}

.divCampoPadrao.alertaCampoErrado input,
.divCampoPadrao.alertaCampoErrado select {
    border-color: red;
}

.divCampoPadrao.alertaCampoErrado .erroCampo {
    display: none;
}

.divCampoPadrao.semAlertaCampo input,
.divCampoPadrao.semAlertaCampo select {
    border-color: var(--cor7);
}

.divCampoPadrao.alertaCampoErrado .erroCampo {
    display: block;
}