:root {
    /* Campos */
    --fontCampoCadastroAtivos: 20px;
    --gapCampoCadastroAtivos: 5px;
    --proporcaoCampoAtivos: 30%;
    --heightCampoAtivos: 50px;

    /* Checkbox */
    --borderCheckmarkAtivos: 3px;
    --widthCheckmarkAtivos: calc(25px - 2 * var(--borderCheckmarkAtivos));
    --marginTopCheckmarkAtivos: calc(var(--borderCheckmarkAtivos)/ 3);
    --marginCheckmarkAtivos: calc(var(--widthCheckmarkAtivos) + 2 * var(--borderCheckmarkAtivos) + 5px);

    /* Checkmarker */
    --checkmarkerWidth: 5px;
    --checkmarkerHeigth: 12px;
    --checkmarkerBorder: 0 3px 2px 0;
}

/* 
==========
= Campos =
==========
*/

.DescriçõesCampoAtivo,
.DescriçõesCampoAtivo>*::placeholder,
.DescriçõesCampoAtivo>*[type="date"],
.DescriçõesCampoAtivo>*[type="number"],
.DescriçõesCampoAtivo>*[type="url"],
.DescriçõesCampoAtivo>*[type="datetime-local"],
.DescriçõesCampoAtivo>select {
    align-items: center;
    color: var(--branco);
    font-size: var(--fontCampoCadastroAtivos);
}

.DescriçõesCampoAtivo {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gapCampoCadastroAtivos);
    justify-content: space-between;
    min-height: min-content;
    height: var(--heightCampoAtivos);
}

.DescriçõesCampoAtivo>* {
    min-width: max-content;
    flex: 1;
}

.DescriçõesCampoAtivo>span,
.DescriçõesCampoAtivo>div {
    max-width: var(--proporcaoCampoAtivos);
}

.DescriçõesCampoAtivo>p,
.DescriçõesCampoAtivo>input,
.DescriçõesCampoAtivo>select {
    width: calc(100% - var(--proporcaoCampoAtivos) * 2);
}

.DescriçõesCampoAtivo>input::placeholder,
.DescriçõesCampoAtivo>input,
.DescriçõesCampoAtivo>select {
    display: flex;
    min-height: calc(var(--heightCampoAtivos) - 2px);
    align-items: center;
    text-align: center;
}
.DescriçõesCampoAtivo>select{
    background-color: inherit;
    min-height: calc(var(--heightCampoAtivos) - 20px);
}

/* 
============
= Checkbox =
============
*/

.containerCheckboxFormsAtivos {
    margin-right: var(--marginCheckmarkAtivos);
}

.containerCheckboxFormsAtivos>input {
    opacity: 0;
    width: 0;
    height: 0;
}

.containerCheckboxFormsAtivos>span,
.DescriçõesCampoAtivo>select{
    border-width: var(--borderCheckmarkAtivos);
    border-style: solid;
}

.containerCheckboxFormsAtivos>span {
    cursor: pointer;
    height: var(--widthCheckmarkAtivos);
    position: absolute;
    width: var(--widthCheckmarkAtivos);
    margin-top: var(--marginTopCheckmarkAtivos);
}

.containerCheckboxFormsAtivos>span::after {
    display: none;
    content: '';
    margin: auto;
}

.containerCheckboxFormsAtivos>input:checked~span::after {
    display: block;
}

.containerCheckboxFormsAtivos>span::after {
    width: var(--checkmarkerWidth);
    height: var(--checkmarkerHeigth);
    transform: rotate(45deg);
    border-style: solid;
    border-color: var(--branco);
    border-width: var(--checkmarkerBorder);
}