:root {
    --fontSizeTituloCampoPadrao: calc(10px + 0.7dw);
    --fontSizeInputCampoPadrao: calc(8px + 0.7dw);
    --minHeightDivCampoPadrao: 30px;
    --gapInputTitulo: 30px;

    --corTituloCampo: var(--branco1);
    --corTextInput: var(--cor10);
    --corBackgroundInput: var(--cor20);
    ---widthInputCampoRadio: 13px;
    ---marginTopInputCampoRadio: 2px;
    --marginLeftSpanCampoRadio: calc(var(---widthInputCampoRadio) + 5px);
}

.divCampoImagem,
.divCampoPadrao,
.divCampoDesativado,
.divCampoEditavel,
.campoInputSemTítulo,
.divCampoDescricao,
.divCampoDescricaoEditavel,
.divCampoRadio,
.divCampoSenha {
    min-height: var(--minHeightDivCampoPadrao);
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--corTituloCampo);
    gap: 3px;
}

.divCampoRadio>div,
.divCampoEditavel>div,
.divCampoDesativado>div,
.divCampoDescricao>div,
.divCampoDescricaoEditavel>div,
.divCampoPadrao>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputCampoEditavel,
.textareaCampoEditavel,
.inputCampoSenha {
    display: flex;
    align-items: center;
}

.inputCampoSenha,
.divCampoDescricao textarea,
.textareaCampoEditavel textarea,
.divCampoDesativado input:disabled,
.divCampoPadrao input,
.inputCampoSenha input,
.inputCampoEditavel input,
.divCampoPadrao select {
    background-color: var(--corBackgroundInput);
    border-radius: 6px;
    width: 100%;
}

.textareaCampoEditavel textarea,
.inputCampoEditavel input {
    width: calc(100% - var(--fontSizeInputCampoPadrao));
}

.divCampoPadrao input,
.inputCampoSenha input,
.inputCampoEditavel input,
.divCampoDesativado input:disabled,
.textareaCampoEditavel textarea,
.divCampoDescricao textarea,
.divCampoPadrao select {
    padding: 4px;
    color: var(--corTextInput);
}

.divCampoDescricao textarea,
.textareaCampoEditavel textarea {
    resize: none;
    min-height: 150px;
    width: 100%;
}

.inputObrigatorio {
    color: var(--vermelho1);
}

.divCampoInputSemTitulo>div,
.inputCampoSenha,
.inputCampoEditavel,
.textareaCampoEditavel,
.divCampoDescricao textarea,
.divCampoPadrao input,
.divCampoPadrao select {
    border-style: solid;
    border-width: 1.8px;
    border-radius: 6px;
}

.divCampoPadrao input[type="date"],
.inputCampoSenha input::placeholder,
.inputCampoEditavel input::placeholder,
.textareaCampoEditavel textarea::placeholder,
.divCampoPadrao input::placeholder {
    color: var(--corTextInput);
}

.erroCampo {
    color: var(--vermelho1);
    font-size: var(--fontSizeInputCampoPadrao);
}

.divCampoPadrao.alertaCampoErrado input,
.divCampoDescricao.alertaCampoErrado textarea,
.divCampoSenha.alertaCampoErrado .inputCampoSenha,
.divCampoEditavel.alertaCampoErrado .inputCampoEditavel,
.divCampoDescricaoEditavel.alertaCampoErrado .inputCampoEditavel,
.divCampoInputSemTitulo.alertaCampoErrado>div,
.divCampoPadrao.alertaCampoErrado select {
    border-color: var(--vermelho1);
}

.divCampoPadrao.semAlertaCampo input,
.divCampoDescricao.semAlertaCampo textarea,
.divCampoSenha.semAlertaCampo .inputCampoSenha,
.divCampoInputSemTitulo.semAlertaCampo>div,
.divCampoPadrao.semAlertaCampo select {
    border-color: var(--corBackgroundInput);
}

.divCampoDescricaoEditavel.semAlertaCampo .textareaCampoEditavel,
.divCampoEditavel.semAlertaCampo .inputCampoEditavel {
    border-color: #ffffff00;
}

.divCampoPadrao input[type="date"]::-webkit-calendar-picker-indicator {
    filter: brightness(0) saturate(100%) invert(42%) sepia(92%) saturate(0%) hue-rotate(177deg) brightness(99%) contrast(97%);
    /* cor10 */
}

.inputCampoSenha svg {
    color: var(--corTextInput);
}

.inputCampoSenha .password-icon,
.inputCampoEditavel>img,
.textareaCampoEditavel>img {
    height: var(--fontSizeInputCampoPadrao);
    cursor: pointer;
    margin-right: 5px;
}

.opcoesCampoRadio {
    display: flex;
    padding-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.opcoesCampoRadio span {
    margin-left: var(--marginLeftSpanCampoRadio)
}

.campoArquivo input,
.opcoesCampoRadio input {
    display: none;
}

.controleInputRadio {
    border: 1.5px solid var(--corTextInput);
    position: absolute;
    cursor: pointer;
    margin-top: var(---marginTopInputCampoRadio);
    width: var(---widthInputCampoRadio);
    border-radius: 100%;
    height: var(---widthInputCampoRadio);
}

.divCampoArquivo {
    display: flex;
    gap: 5px;
}

.campoArquivo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.campoArquivo>div {
    color: var(--corTituloCampo);
    display: flex;
    width: 100%;
    gap: 10px;
}

.divCampoArquivo .campoArquivo>div:first-child,
.campoArquivo>div:not(:first-child) {
    align-items: center;
}

.controleInputArquivo {
    padding: 5px 10px;
    background-color: var(--cor5);
    color: var(--branco);
    border: none;
    width: max-content;
    border-radius: 5px;
    cursor: pointer;
}

.controleInputArquivo:hover {
    background-color: var(--cor20);
}

.botaoRemoverArquivo {
    padding: 2px 6px;
    border-radius: 5px;
    background-color: var(--vermelho1);
    color: var(--branco1);
    cursor: pointer;
    font-size: 13px;
    margin-left: 6px;
}

.divInputRadioFormsAtivo input {
    appearance: none;
}

.opcoesCampoRadio input:checked~.controleInputRadio {
    background-color: var(--corTextInput);
}

.opcoesCampoRadio input[type="radio"]:hover~.controleInputRadio,
.opcoesCampoRadio input[type="radio"]::selection~.controleInputRadio {
    background-color: var(--corBackgroundInput);
}

.inputCampoEditavel.inputDesabled,
.inputCampoEditavel.inputDesabled>input,
.textareaCampoEditavel.inputDesabled,
.textareaCampoEditavel.inputDesabled>textarea {
    background-color: inherit;
    color: var(--corTextInputDesativado);
}

.inputCampoEditavel.inputEnabled,
.inputCampoEditavel.inputEnabled>input,
.textareaCampoEditavel.inputEnabled,
.textareaCampoEditavel.inputEnabled>textarea {
    background-color: var(--corBackgroundInput);
    color: var(--corTextInputAtivo);
}

.divCampoInputSemTitulo>div {
    border-radius: 6px;
    padding: 2px;
    display: flex;
    width: 100%;
    min-width: min-content;
    align-items: center;
}

.divCampoDesativado input:disabled,
.divCampoDesativado input:disabled::placeholder,
.divCampoInputSemTitulo input {
    background-color: inherit;
    color: var(--corTituloCampo);
    width: calc(100% - var(--fontSizeInputCampoPadrao));
}

.previewImagemCampo {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.divCampoImagem .campoArquivo>div:first-child {
    align-items: flex-start;
}

.divCampoImagem img {
    max-height: calc(4.8 * var(--minHeightDivCampoPadrao));
    max-width: min-content;
}