:root {
    --minWidthDivCampoAtivo: 250px;
    --maxWidthDivCampoAtivo: 300px;
    --gapDivCampoAtivo: 5px;
    --minHeightInputCampoAtivo: calc(35px - 10px);
    --paddingInputVerticalCampoAtivo: 10px;
    --paddingInputHorizontalCampoAtivo: 5px;

    /* Radiobutton */
    --borderRadioButton: 2px;
    --marginTopRadioButton: 8px;
    ---widthRadiobutton: 20px;
    --gapDivRadioButton: 20px;
    --marginLeftSpanRadioButton: calc(var(---widthRadiobutton) + 5px);

    /* Campos */
    --fontSizeCampoAtivo: 25px;
    --fontSizeInputCampoAtivo: 25px;
    --gapDivInput: 5px;
    --heightCampoAtivoReadOnly: 30px;
    --paddingCampoAtivoReadOnly: 8px;
}

/* 
=================
= CAMPOS GERAIS =
=================
*/
.divCampoAtivo,
.divInputRadioFormsAtivo,
.descricaoFormsAtivo {
    font-size: var(--fontSizeCampoAtivo)
}

.divCampoAtivo > input,
.divCampoAtivo > input::placeholder,
.descricaoFormsAtivo > textarea,
.descricaoFormsAtivo > textarea::placeholder {
    color: var(--cor10);
    font-size: var(--fontSizeInputCampoAtivo);
}

.divCampoAtivo,
.divInputRadioFormsAtivo {
    display: flex;
    flex-direction: column;
    gap: var(--gapDivInput);
    min-width: var(--minWidthDivCampoAtivo);
    max-width: var(--maxWidthDivCampoAtivo);
}

.divCampoAtivo {
    display: flex;
    flex-direction: column;
    gap: var(--gapDivInput);
    justify-content: space-between;
    min-width: var(--minWidthDivCampoAtivo);
    width: 100%;
}

.divCampoAtivo>input {
    min-height: var(--minHeightInputCampoAtivo);
    padding: var(--paddingInputHorizontalCampoAtivo) var(--paddingInputVerticalCampoAtivo);
}

.campoAtivoReadOnly{
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.campoAtivoReadOnly>input {
    padding: var(--paddingCampoAtivoReadOnly);
    height: var(--heightCampoAtivoReadOnly);
    width: 100%;
    border-radius: 8px;
    background-color: var(--cor20);
    color: var(--cor9);
}

/* 
====================
= Radio Formulário =
====================
*/
.divInputRadioFormsAtivo {
    width: 100%;
    display: flex;
}

.divInputRadioFormsAtivo>div {
    display: flex;
    gap: var(--gapDivRadioButton);
}

.inputRadioFormsAtivo>span {
    margin-left: var(--marginLeftSpanRadioButton)
}

.inputRadioFormsAtivo>input {
    display: none;
}

.controleInputRadioFormsAtivo {
    position: absolute;
    cursor: pointer;
    background-color: var(--branco1);
    margin-top: var(--marginTopRadioButton);
    width: var(---widthRadiobutton);
    height: var(---widthRadiobutton);
    border: var(--borderRadioButton) solid var(--cor2);
    border-radius: 100%;
}

.inputRadioFormsAtivo>input:checked~.controleInputRadioFormsAtivo {
    background-color: var(--cor2);
}

.divInputRadioFormsAtivo input[type="radio"] {
    appearance: none;
}

.divInputRadioFormsAtivo input[type="radio"]:hover,
.divInputRadioFormsAtivo input[type="radio"]::selection {
    background-color: var(--cor2);
}



/*
=========
= CORES = 
=========
*/
.divCampoAtivo>input,
.descricaoFormsAtivo>textarea {
    background-color: var(--branco1);
}