:root {
    /* Header */
    --heightHeader: 60px;
    --paddingHorizontalHeader: 10px;
    --paddingVerticalHeader: 15px;
    --gapHeader: 20px;
    --gapHeaderRight: 10px;

    /* Ícone */
    --widthHeaderIcon: 30px;
    --paddingHeaderIcon: 1px;
}

#header-component {
    background-color: var(--cor20);
    height: var(--heightHeader);
    padding: var(--paddingVerticalHeader) var(--paddingHorizontalHeader);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gapHeader);

    padding-left: calc(0 - 2 * var(--widthSideMenu));
}

#header-app-title {
    color: var(--branco);
    text-wrap: nowrap;
}

#header-right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gapHeaderRight);
    width: 100%;
}

#user-icon-holder,
#logout-icon-holder{
    width: var(--widthHeaderIcon);
    height: var(--widthHeaderIcon);
    margin-right: 10px;
    cursor: pointer;
}

#user-icon-holder {
    /* background-color: var(--cor5); */
    padding: var(--paddingHeaderIcon);
    border-radius: 100%;
    
}

#user-icon-holder img,
#logout-icon-holder img {
    width: 100%;
    height: 100%;
    margin: auto;
    
}

#bell-icon-holder {
    justify-content: center;    
    align-items: center; 
    font-size: 20px;  
    margin-top: auto;  
    margin-right: 10px;   
    position: relative;
    cursor: pointer;

}

.notification-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.8px 4px;
    font-size: 0.7em;
    position: absolute;
    top: 10px;
    right: -8px;
}

.notificacao-oculta {
    display: none;
}
