:root {
    /* Header */
    --heightHeader: 60px;
    --paddingHorizontalHeader: 10px;
    --paddingVerticalHeader: 15px;
    --gapHeader: 20px;
    --gapHeaderRight: 10px;

    /* Ícone */
    --widthHeaderIcon: 30px;
    --paddingHeaderIcon: 5px;
}

#header-component {
    background-color: var(--cor20);
    height: var(--heightHeader);
    padding: var(--paddingVerticalHeader) var(--paddingHorizontalHeader);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gapHeader);
}

#header-app-title {
    color: var(--branco);
    text-wrap: nowrap;
}

#header-right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gapHeaderRight);
    width: 100%;
}

#user-icon-holder,
#logout-icon-holder {
    width: var(--widthHeaderIcon);
    height: var(--widthHeaderIcon);
}

#user-icon-holder {
    background-color: var(--cor3);
    padding: var(--paddingHeaderIcon);
    border-radius: 100%;
}

#user-icon-holder img,
#logout-icon-holder img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.logo {
    width: 10%;
    max-width: 100px;
    margin-top: 20px;
    margin-left: 30px;
}