:root {
    /* Sizemenu */
    --widthSideMenu: 175px;
    --minHeightSideMenu: 100vh;
    --paddingSideMenu: 50px 5px;
    --gapSideMenu: 25px;

    /* Links Sizemenu */
    --widthSideMenuLink: 50px;
    --paddingSideMenuLink: 5px;
    --borderRadiusSideMenuLink: 5px;

    /* Sizemenu-divisor */
    --widthSideMenuDivisor: 80%;
    --heightSideMenuDivisor: 10px;
    --borderRadiusSideMenuDivisor: 5px;
}

#sidemenu-component {
    position: fixed;
    background-color: var(--cor22);
    width: var(--widthSideMenu);
    min-height: var(--minHeightSideMenu);
    padding: var(--paddingSideMenu);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gapSideMenu);
}

.sidemenu-link {
    background-color: var(--cor5);
    width: var(--widthSideMenuLink);
    height: var(--widthSideMenuLink);
    padding: var(--paddingSideMenuLink);
    border-radius: var(--borderRadiusSideMenuLink);
}

.sidemenu-link-icon {
    width: 100%;
    height: 100%;
}

.sidemenu {
    background-color: var(--cor21);
    height: var(--heightSideMenuDivisor);
    width: var(--widthSideMenuDivisor);
    border-radius: var(--borderRadiusSideMenuDivisor);
}