:root {
    /* Sizemenu */
    --widthSideMenuClosed: 65px;
    --widthSideMenuOpen: 240px;
    --minHeightSideMenu: 100vh;
    --paddingSideMenu: 0px 0px 50px 0px;
    --gapSideMenu: 15px;

    /* Links Sizemenu */
    --widthSideMenuLink: 30px;
    --paddingSideMenuLink: 1px;
    --borderRadiusSideMenuLink: 5px;
}

.logo {
    margin-top: 5px;
    width: 50px;
}

#sidemenu-component {
    background-color: var(--cor22);
    width: var(--widthSideMenuClosed);
    min-height: var(--minHeightSideMenu);
    padding: var(--paddingSideMenu);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gapSideMenu);
    transition: width 0.5s;
}

#sidemenu-component.expanded {
    width: var(--widthSideMenuOpen); /* Expanded width */
  }

.mainsidemenu-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    padding: 5px;
    color: var(--branco1);
    border-radius: 10px;
}

.mainsidemenu-link:hover {
    background-color: var(--cor11); /* Hover background color */
}

.sidemenu-link {
    width: var(--widthSideMenuLink);
    height: var(--widthSideMenuLink);
    padding: var(--paddingSideMenuLink);
    border-radius: var(--borderRadiusSideMenuLink);
    transition: background-color 0.3s ease-in-out;
}

.sidemenu-link-icon {
    width: 100%;
    height: 100%;
}

.sidemenu-divisor{
    background-color: var(--cor7);

    height: 2px;
    width: 80%;

    border-radius: 5px;
}

.sidemenu-cap {
    width: var(--widthSideMenu);
    font-size: smaller;
    text-align: center;
    transition: 0.5s;
}
