/* Geral */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    padding-top: 4%;
    padding-bottom: 3%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #191723;
    color: #fff;
    height: 100%;
  }
  
header {
  background-color: #25293E; 
  color: #fff; 
  position: fixed;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  top: 0;
}

footer {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #25293E; 
  color: #fff; 
  width: 100%;
  margin-bottom: 5px;
}


/* Usuarios */
h2{
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 4vh;
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: left;
  padding-left: 2%;
}

/* CTRL A */
h3{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 4vh;
  text-align: left;
  padding-left: 3%;
  font-family: 'Arial Narrow Bold', sans-serif;
}


/* CSS da página Visualizar usuário */

  
.mySelect {
  width: 18%; 
  padding: 8px;
  border-radius: 4px; 
  background-color: #853F85; 
  color: #fff; /* Cor do texto */
  margin-right: 20px; 
  margin-left: 20px;
}

.myInput {
  width: 78.9%; 
  padding: 8px;
  border-radius: 4px; 
  background-color: #4152AC;
}

.myInput::placeholder {
  color: #fff; /* Cor do texto do placeholder */
}

.myHeaderCell {
  width: 4%;
  color: #fff; 
  background-color: #0178D4; 
  padding: 10px; /* Espaçamento interno */
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Para telas com largura de 600px ou menos */
@media (max-width: 600px) {
  header {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

/* Para telas com largura de 768px ou menos */
@media (max-width: 768px) {
  header {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }
}

/* Para telas com largura de 992px ou menos */
@media (max-width: 992px) {
  header {
    padding-top: 2.75px;
    padding-bottom: 2.75px;
  }
}

/* Para telas com largura de 1200px ou menos */
@media (max-width: 1200px) {
  header {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}


.userTable th, .userTable td {
  border: 1px solid #25293E;
  padding: 8px;
  background-color: #25293E
}

.userTable th {
  background-color: #0178D4;
  color: white;
}