:root{
  --cor1: #40587E;
  --cor2: #0178D4;
  --cor3: #4152AC;
  --cor4: #853F85;
  --cor5: #8764B8;
  --cor6: #3C3A48;
  --cor7: #191723;
  --cor8: #2F3D54;
  --cor9: #d9d9d94a;
  --cor10: #808080;
  --cor11: #121212ad;
  --cor12: #19756A;
  --cor20: #25293E;
  --cor21: #121212;
  --cor22: #171717;
  --branco: #FFFFFF;
  --branco1: #DDD8D8;
  --verde1: #19756A;
  --vermelho1: #fe43439b;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.inputObrigatorio{
  color: var(--vermelho1);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--branco);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

